* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    background: cyan;
}

#game {
    width: 100%; /*480px;*/
    height: 100vh; /*720px*/
}